<!DOCTYPE html>
<html>

<head>
    <title>Mongoose Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<nav>
    <a href="/flights/new">Add Flight</a>
    <a href="/flights/">All Flights</a>
</nav>

<body>