<!DOCTYPE html>
<html>
  <head>
    <title>Mongoose Flights</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <nav>
    <a href="/flights/new">Add Flight</a>
    <a href="/flights/">All Flights</a>
    <img
      src="/images/flights.png"
      width="80"
      height="50"
      class="d-inline-block align-top"
      alt=""
      loading="lazy"
    />
  </nav>

  <body></body>
</html>
