body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: salmon;
}

a {
  color: black;
}

nav {
  background-color: rgb(149, 151, 154);
  width: 100%;
  height: 
  overflow: auto;
}

nav>a {
  float: right;
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav>a:hover {
  color: white;
  background-color: #424748;
}

nav>a.active {
  color: white;
}